.testimonial {
  padding: 1rem;
  background-color: #f0f0f0;
}

.testimonial .d-flex {
  align-items: center;
  gap: 1rem;
  margin-top: 0.75rem;
}

.testimonial-text {
  font-size: 14px;
}
.testimonial img {
  width: 25%;
  height: 25%;
  border-radius: 0.5rem;
}

.testimonial h6 {
  margin: 0;
  margin-top: 0.75rem;
}

.testimonial p {
  margin: 0;
}

@media only screen and (max-width: 992px) {
  .testimonial {
    padding: 0.75rem;
  }

  .testimonial .d-flex {
    gap: 0.75rem;
  }

  .testimonial img {
    width: 30%;
    height: 30%;
  }
}

@media only screen and (max-width: 576px) {
  .testimonial {
    padding: 0.5rem;
  }

  .testimonial .d-flex {
    gap: 0.5rem;
  }

  .testimonial img {
    width: 40%;
    height: 40%;
  }
}
